.search{
    position: absolute;
    top: 2rem;
    color: #281414;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-align: justify;
    width: 240px;
    height: 32px;
    padding: 0 15px;
    border-radius: 20px;
    /* box-shadow: 0 2px 6px rgba(0 0 0 0.3); */
    font-size: 14px;
    outline: none;
    text-overflow: ellipses;
    left: 50%;
    margin-left: -120px
}

.dropdown{
    position: relative;
    top: 4rem;
    box-sizing: border-box;
    outline: none;
    text-overflow: ellipses;
    padding: 0 15px;
    width: 240px;
    left: 50%;
    margin-left: -120px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
}

.suggestion-item{
    cursor: pointer;
}
.suggestion-item--active{
    color: #b4061e;
    /* font-size: 1.5rem; */
    font-weight: bold;
}